{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<div id="registrer">
    <div class="container">
    <h1 class="text-center">Inscription</h1>

    {{ form(form) }}

    </div>
</div>
{% endblock %}
