{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="col-3">
    <h4> Baptiste</h4>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum ipsa facere et cum enim aut hic aperiam delectus voluptate atque numquam nemo facilis expedita, qui ullam architecto, ab impedit? Dolorum.
    Quas optio asperiores facilis aperiam corporis quis, minus reprehenderit facere ducimus officiis architecto. Dignissimos consectetur, reiciendis ipsam dolorem fuga provident, atque accusantium dolor debitis nihil necessitatibus quidem beatae excepturi eligendi!
    !  </p>
    </div>
    <div class="col-3">
    <h4> Lassina</h4>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum ipsa facere et cum enim aut hic aperiam delectus voluptate atque numquam nemo facilis expedita, qui ullam architecto, ab impedit? Dolorum.
    Quas optio asperiores facilis aperiam corporis quis, minus reprehenderit facere ducimus officiis architecto. Dignissimos consectetur, reiciendis ipsam dolorem fuga provident, atque accusantium dolor debitis nihil necessitatibus quidem beatae excepturi eligendi!
    !  </p>
    </div>
    <div class="col-3">
    <h4> Leopold</h4>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum ipsa facere et cum enim aut hic aperiam delectus voluptate atque numquam nemo facilis expedita, qui ullam architecto, ab impedit? Dolorum.
    Quas optio asperiores facilis aperiam corporis quis, minus reprehenderit facere ducimus officiis architecto. Dignissimos consectetur, reiciendis ipsam dolorem fuga provident, atque accusantium dolor debitis nihil necessitatibus quidem beatae excepturi eligendi!
    !  </p>
    </div>
    <div class="col-3">
    <h4> Philippe</h4>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum ipsa facere et cum enim aut hic aperiam delectus voluptate atque numquam nemo facilis expedita, qui ullam architecto, ab impedit? Dolorum.
    Quas optio asperiores facilis aperiam corporis quis, minus reprehenderit facere ducimus officiis architecto. Dignissimos consectetur, reiciendis ipsam dolorem fuga provident, atque accusantium dolor debitis nihil necessitatibus quidem beatae excepturi eligendi!
    !  </p>
    </div>
    </div>
</div>
{% endblock %}
